/*  your css code here. If applicable */
h1{
	text-align:center;
}
li{
	list-style-type: none
}
h2{
	text-align:center
}
div.songlist{
	border:2px solid black;
	border-radius:10px; 
	padding:20px; 
	margin:30px;
	background-color: white
}
div.player_one{
	background-color: rgb(255,255,255);
	padding: 100px;
	border-radius:100px
}
div.player_two{
background-color: rgb(255,255,255);
	padding: 100px;
	border-radius:100px
}	
.player_one,.player_two

{
	border:2px solid black;
	border-radius:10px; 
}
body{
	background-color:rgb(204,204,204)
}