/*  your css code here. If applicable */
h1{
	text-align:center;
}
li{
	list-style-type: none
}
h2{
	text-align:center
}
div{
	background-color: rgb(255,255,255);
	padding: 100px;
	border-radius:100px
}
.body{
	background-color:rgb(204,204,204)
}